<table>
<tr>
  <td>
    <h1>Rehearsals - </h1>
  </td>
  <td>
    <h4><%= link_to "Create a new rehearsal", new_user_rehearsal_path %></h4>
  </td>
</tr>

<tr>
  <td>
    <%= render(@rehearsals) || "There's no rehearsals available." %>
  </td>
</tr>


</table>